@model IEnumerable<CoffeeShopEntityDatabase.Models.Item>
@{
    ViewBag.Title = "Shop";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @if (Session["User"] != null)
        {
            <th>
                Buy Something
            </th>
        }
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @if (Session["User"] != null)
        {
            <td>
                <form action="~/Home/BuyItem" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="hidden" name="itemName" value="@item.ItemName" />
                    <input type="hidden" name="itemDescription" value="@item.ItemDescription" />
                    <input type="hidden" name="quanity" value="@item.Qty" />
                    <input type="hidden" name="price" value="@item.Price" />
                    <button type="submit">Buy</button>
                </form>
            </td>
        }
    </tr>

    }
</table>